<%= form_for product, url: url do |form| %>
    <div class="field form-group">
        <%= form.label :name %>
        <%= form.text_field :name , class: 'form-control'%>
    </div>
    <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_field :description , class: 'form-control'%>
    </div>
    <div class="field form-group">
        <%= form.label :quantity %>
        <%= form.text_field :quantity , class: 'form-control'%>
    </div>
    <div class="field form-group">
        <%= form.label :current_price %>
        <%= form.text_field :current_price , class: 'form-control'%>
    </div>
    <div>
        <%= form.label :status%><br>
        <%= form.radio_button :status, "True" %>
        <%= form.label :status_true, "True" %>
        <%= form.radio_button :status, "False" %>
        <%= form.label :status_false, "False" %>
    </div>
    <div class="field form-group">
        <%= form.label :category %>
         <div>
            <%= form.select(:category_ids, Category.all.collect {|p| [ p.name, p.id ] }, 
                                           { :prompt => ["select"]}, 
                                           { :multiple => true, :size => 5, class: 'selectpicker ' , id: 'multiSelect',:include_blank => true}) %>
         </div>
    </div>
    
    <div>
        <%= form.fields_for :pictures do |picture_form| %>
            <div class="field">
                <%= picture_form.file_field :image %>
            </div>
        <% end %>
        <div class="links">
            <%= link_to_add_association 'add picture', form, :pictures %>
        </div>
    </div>   
  <div class="actions mt-10">
    <%= form.submit  class: 'btn btn-warning mb-5' %>
    <%= link_to 'Back', seller_products_path , class: 'btn btn-primary mt-3'%>
  </div>
<% end %>
