<div id="page-wrapper">
    <div id="page-inner">
        <!-- /. Seller stats  -->
        <%= render "shared/stat"%>
        <!-- /. ROW  -->
        <div class="row">
        <div class="col-md-8">
            <div class="row">
            <div class="col-md-12">
                <%= render "shared/review-crr"%> 
            </div>
            </div>
            <!-- /Top selling items  -->
            <hr />
            <%= render "shared/selling-prd"%> 
        </div>
        <!-- /.Notifications bar -->
        <%= render "shared/notification-bar" %>
        </div>
        <!-- /. Order Table -->
        <hr />
        <div class="row">
        <%= render "shared/order-tb" %>
        </div>
        <hr />
    </div>
</div>