<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse" id="3rd-nav">
        <ul class="nav">
          <li class="<%= "active" if current_page?(index_path) %>"><a href="<%=index_path%>">Home	</a></li>
          <li class="<%= "active" if current_page?(products_list_view_path) %>"><a href="<%=products_list_view_path%>">List View</a></li>
          <li class="<%= "active" if current_page?(products_gird_view_path) %>"><a href="<%=products_gird_view_path%>">Grid View</a></li>
        </ul>
        <%if current_user%>
          <div id="logout-btn">
            <%= button_to('Log out', destroy_user_session_path, :method => :delete, class:"btn btn-warning") %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
