<div class="row">
  <div class="span5">
    <div class="well well-small" style="padding:20px;">
      <h4 style="text-align:center;">Account Information</h4>
      <hr class="soften"/>
      <p><strong>Name: </strong><%=current_user.name%></p>
      <p><strong>Email: </strong><%=current_user.email%></p>
      <p><strong>Phone: </strong><%=current_user.phone %></p>
      <p><strong>Total Orders: </strong><%=@orders.count %></p>
      <p><strong>Delivered Orders: </strong><%=@orders.delivered.count %></p>
      <p><strong>Pending Orders: </strong><%=@orders.pending.count %></p>
      <p><strong>Accepted Orders: </strong><%=@orders.accepted.count %></p>
      <p><strong>Canceled Orders: </strong><%=@orders.canceled.count %></p>
      <hr class="soften"/>
    </div>
  </div>
  <div class="span7">
    <!-- Products Cards -->
    <% if @orders.nil? %>
      <p style="text-align:center;">No Order Found
      </p>
    <%else%>
      <%@orders.each do |order|%>
        <div class="well well-small">
          <h4>Order #: <%=order.id%></h4>
          <p><strong>Date: </strong> <%=order.created_at.strftime("%d-%m-%Y  %I:%M %p")%></p>
          <p><strong>Status:  </strong><%=order.status%></p>
          <p><strong>Total Bill:  </strong>$<%=order.total_bill%></p>
          <p><strong>Delivery Address: </strong><%=order.delivery_address%></p>
          <hr class="soften"/>
          <div class="well well-small">
            <% order.order_products.each_with_index do |order_product,index| %>
              <div class="row-fluid">
                <div class="span2">
                  <%= image_tag "products/"+(index%6).to_s+".jpg", alt:""%>
                </div>
                <div class="span5">
                  <h5><%=order_product.product.name%></h5>
                  <p><strong>Qty: </strong>
                    <%=order_product.quantity%>
                  </p>
                </div>
                <div class="span5 alignR">
                  <h3> $<%=order_product.price%></h3>
                  <br>
                  <div class="btn-group">
                    <a class="defaultBtn" onclick = "window.addToCart(<%= order_product.product.id%>,'<%= order_product.product.name%>', 1,<%= order_product.product.current_price%>, '' )">
                      <span class="fa fa-shopping-cart"></span>
                      Add to cart
                    </a>
                    <a href="<%= product_path(order_product.product)%>" class="shopBtn">VIEW</a>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
</div>
</div>
